<!DOCTYPE html>
<html>
    <head>
        <title>Workout Listings Ireland</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">Workout Listings</div>
                <a href="/" class="item">Link</a>
                <div class="right menu">
                    <a class="item">Sign Up</a>
                    <a class="item">Login</a>
                </div>
            </div>
        
        </div>
                        <!--REMOVE THIS HARDCODED STYLING-->
            <div class="ui container" style="margin-top: 4em;">
    