<% include partials/header %>

<h1>Sessions Page</h1>

<p><a href="/sessions/new">Add a New Class</a></p>

<% sessions.forEach(function(session){ %>
    <div>
        <h4><%= session.class_name %></h4>
        <img src="<%= session.image %>"/>
    </div>
<% }); %>

<p><a href="/">Go back</a></p>

<% include partials/footer %>

