<% include partials/header %>
    <h1><%= workout.workout %></h1>
    
    <img src="<%= workout.image %>">
    
    <p><%= workout.description %></p>
    
    <p><a href="/workouts">Go back</a></p>

<% include partials/footer %>